@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", "system-ui";
  background-color: black;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui";
  }
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

.math-display {
  overflow-x: scroll;
}
