@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", "system-ui";
  background-color: black;
  scroll-behavior: smooth;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui";
  }
}

body {
  background-position: 0 0;
  background-size: 25px 25px;
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

.math-display {
  overflow-x: scroll;
}

pre[class*="language-"] {
  background: #111;
}

code[class*="language-"] {
  background: #111;
}

.snippet {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.snippet::-webkit-scrollbar {
  display: none;
}
